# WEB

## https://fastapi.tiangolo.com/
fastapi[all]~=0.109.2
## uvicorn[standard]~=0.23.2
uvloop~=0.19.0

## https://github.com/andrew-d/python-multipart/
# python-multipart~=0.0.9

## https://github.com/sysid/sse-starlette/
# sse-starlette~=1.6.5

# DB

## [ORM](https://docs.sqlalchemy.org/en/20/)
#SQLAlchemy~=2.0.23
sqlalchemy[asyncio]~=2.0.28
## [PostgreSQL Adapter](https://www.psycopg.org/)
#psycopg2-binary~=2.9.9
asyncpg~=0.29.0
## [数据库版本管理](https://alembic.sqlalchemy.org/en/latest/)
alembic~=1.13.0

# 缓存

## [Memory](https://github.com/Yiling-J/theine)
theine~=0.4.1
## [Redis](https://aioredis.readthedocs.io/en/latest/)
aioredis~=2.0.1

# Storage

## [Aliyun Oss](https://help.aliyun.com/zh/oss/developer-reference/installation-14)
## sudo yum install python-devel
oss2~=2.18.3

## [Minio](https://github.com/minio/minio)
# minio~=7.1.17

# 工具

## [DI](https://python-dependency-injector.ets-labs.org/)
# dependency-injector~=4.0

## [密码库passlib](https://passlib.readthedocs.io/)
passlib[bcrypt]~=1.7.4
## [密码库cryptography](https://cryptography.io/)
cryptography~=42.0.4

## [JWT](https://python-jose.readthedocs.io/)
python-jose[cryptography]~=3.3.0

## [yaml处理](https://pyyaml.org/)
pyyaml~=6.0.1

## [工具大全](https://boltons.readthedocs.io/)
boltons~=24.0.0

## [uuid](https://python-ulid.readthedocs.io/en/latest/)
python-ulid~=2.2.0

## https://loguru.readthedocs.io/en/stable/
loguru~=0.7.2

## [Eventbus Blinker](https://blinker.readthedocs.io/)
# blinker~=1.7.0

## [opentelemetry](https://opentelemetry.io/docs/languages/python/getting-started/)
## [ot-fastapi](https://github.com/open-telemetry/opentelemetry-python-contrib/tree/main/instrumentation/opentelemetry-instrumentation-fastapi)
opentelemetry-api~=1.22.0
opentelemetry-sdk~=1.22.0
opentelemetry-instrumentation~=0.43b0
opentelemetry-instrumentation-fastapi~=0.43b0

# LLM

## [LangChain](https://python.langchain.com/docs)
## include langchain langsmith langchain-core langchain-community
langchain~=0.2.5

## [OpenAI]
langchain-openai~=0.1.8

## https://github.com/langchain-ai/langchain/issues/22972
# tenacity>=8.3.0,<8.4.0

# 测试

## [pytest](https://docs.pytest.org/en/latest/)
pytest~=7.4.3

## [pytest-html](https://pytest-html.readthedocs.io/en/latest/)
## add arguments: --html=/some-dir/some-file.html
pytest-html~=4.1.1

## [httpx](https://www.python-httpx.org/)
httpx~=0.25.2
